{% capture post_slug %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %}

<section class="comments">
    <h2>Comments</h2>
		{% if site.data.comments[post_slug] == false %}	
			<p>Be the first to comment by submitting below!</p>
		{% else %}
			<div class="comment__content-wrapper">
				<h3 class="comment-author">
						{{ include.name }}
				</h3>
				<div class="comment-body">
					{{ include.message | markdownify }}
				</div>
			</div>
			<div class="submit-comment">
				<h3>Submit a comment:</h3>
				{% include comments-new.html %}
			</div>
</section>

