<form method="POST" action="https://api.staticman.net/v2/entry/geyerbri/open-field-journal/master">
  <input name="options[redirect]" type="hidden" value="https://geyerbri.github.io/open-field-journal/redirect-page">

  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text"> Name</label><br><br>
  <label><input name="fields[github]" type="text"> GitHub Username</label><br><br>
  <label><input name="fields[email]" type="text"> E-mail</label><br><br>
  <label><textarea name="fields[message]"></textarea> Comment</label><br><br>
  <button type="submit">Go!</button>
</form>
