<form method="POST" action="https://api.staticman.net/v2/entry/geyerbri/open-field-journal/master">
  <input name="options[redirect]" type="hidden" value="https://geyerbri.github.io/open-field-journal/redirect-page">

  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
	<table>
		<tr>
			<td><label><h3>Name:</h3> </label><input name="fields[name]" type="text"></td>
		</tr>
		<tr>
			<td><label><h3>GitHub Username:</h3> </label><input name="fields[github]" type="text"></td>
		</tr>
		<tr>
			<td><label><h3>Email:</h3></label> <input name="fields[email]" type="text"></td>
		</tr>
		<tr>
			<td><label><h3>Comment</h3></label> <textarea name="fields[message]" type="text"></textarea></td>
		</tr>
	</table>	
  <button type="submit">Go!</button>
</form>
