<div id="sidebar">
 <div id="centered">
  <header>
    <{% if page.title == "Home" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.title == "Home" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  <div id="nav-links">
  {% include sidebar-nav-links.html %}
  </div>
 </div>
 
  <div id="footer">
  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
  </div>
</div>